body{
    background-color: #aac5de;
}


.workingContainerDisplay {
    border: 2px solid #000000;
    background-color: #DDDDDD;
    display:inline-block;
    width: 25%;
    place-content: right;
}

.workingContainerDisplay *{
    place-items:normal;
}

#title{
    margin-left: 30%;
    display:flex;
}

#grid {
    width:  100%;
    height: 100%;
    border: 2px solid #888888;
}

#grid tr {
    border: 2px solid #777777;
  
}

#grid td {
    border: 2px solid #777777;

}


#roomDisplay {
    background-color: #9af5fe;
    border: 2px solid #b0b0f0;
    width:50%;
    height:20%;
}

.buttons {
    border: 2px solid #777777;
}

#roomFeatures {
    width: 100%;
    height: 20%;
    background-color: #a2d0f7;
   
}







.dropZone{
    width:  5%;
    height: 5%;
}